@page
@model TouristInformation.Pages.Attractions.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Attraction</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Attraction.AttrName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Attraction.AttrName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Attraction.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Attraction.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Attraction.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Attraction.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Attraction.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Attraction.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Attraction.Longitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Attraction.Longitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Attraction.Latitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Attraction.Latitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Attraction.RecommendedAge)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Attraction.RecommendedAge)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Attraction.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Attraction.Duration)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Attraction.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
