@page
@model TouristInformation.Pages.Attractions.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Attraction</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Attraction.AttrName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Attraction.AttrName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Attraction.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Attraction.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Attraction.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Attraction.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Attraction.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Attraction.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Attraction.Longitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Attraction.Longitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Attraction.Latitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Attraction.Latitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Attraction.RecommendedAge)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Attraction.RecommendedAge)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Attraction.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Attraction.Duration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Attraction.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Attraction.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Attraction.DateUpdated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Attraction.DateUpdated)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Attraction?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
